/* 
    Created on : Aug 22, 2014, 2:44:28 PM
    Author     : eharpste
*/
#target {
    border: 1px solid;
    width:150px;
    height:150px;
}

table, td {
    border-spacing: 0px;
    border-collapse: collapse;
    background-color:#ffffff;
    border: 1px solid;
    padding:5px;
}



body{
    background-color:#cccccc;
}

